form {
    max-width: 800px;
    margin: 20px auto;
    background: linear-gradient(135deg, yellow, skyblue);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#calculator {max-width: 800px;
margin: 20px auto;
background: linear-gradient(135deg, orange,violet);
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}